/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Set the background color for the page */
body {
  background-color: #ff894442;
}

/* Center all content horizontally */
.center {
  display: flex;
  justify-content: center;
}

/* Set the font family and size for the page */
body,
button,
input,
select,
textarea {
  font-family: Arial, sans-serif;
  font-size: 16px;
}




/* Style the header text */
h1 {
  font-size: 72px;
  text-shadow: 2px 2px 2px #333333;
}

.colored {
  color: rgb(255, 139, 89);
  font-size: 72px;
  text-shadow: 2px 2px 2px #333333;
}

/* Style the main content area */
main {
  max-width: 1080px;
  margin: 0px auto;
  padding: 20px;
}

/* Style the supplement image */
.supplement-img {
  display: block;
  margin: 50px auto;
  max-width: 100%;
}

/* Style the supplement facts table */
table {
  border-collapse: collapse;
  margin: 50px auto;
  max-width: 100%;
  width: 500px;
}

table td,
table th {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #ffffff;
}

/* Style the footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

/* Style the navigation bar */
nav {
  height: 30px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
}

/* Style the navigation links */
nav a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
  line-height: 30px;
  display: inline-block;
  margin-right: 20px;
}

/* Style the active navigation link */
nav a.active {
  font-weight: bold;
}

/* Style the thin navigation links */
nav.thin a {
  padding: 0 10px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 30px;
}

.button {
  display: block;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 16px 32px;
  font-size: 18px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.button:hover {
  background-color: #0069d9;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button.animated {
  animation: fade-in 1s ease-in-out;
}

.container {
  display: flex;
}

.box {
  width: 800px;
  height: 400px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.rounded-box {
  display: inline-block;
  padding: 5px;
  border-radius: 12px;
  background-color: black;
  color: rgb(255, 255, 255);
  padding-bottom: 6px;
}

.common-heading {
  font-size: 44px;
  text-align: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Everything below here affects the ABOUT US Section */

.aboutuscontainer {
  display: flex;
}

.box1 {
  display: flex;
  width: 40vw;
  height: 20vw;
  margin: 1vw;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
}

.newbox {
  display: flex;
  width: 40vw;
  height: 2vw;
  margin: 1vw;
  justify-content: top;
  align-items: center;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

.newbox h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.newbox p {
  font-size: 1rem;
  color: #555;
}

/* This makes the image pop out a little bit. */
.modern-image {
  transition: transform 0.3s;
}

.modern-image:hover {
  transform: scale(1.1);
  overflow: hidden;
}

/* This affects any screen smaller than 768px, it will overide the width/height for .box */
@media (max-width: 768px) {
  .box {
    width: 45vw;
    height: 40vw;
  }
  /* This changes the mobile version to have the correct spacing on the bottom before the next heading section */
  .newbox {
    margin-bottom: 12vw;
  }
}

/* This is the end of the about us section */
