/* Style the supplement facts table */
table {
  border-collapse: collapse;
  margin: 50px auto;
  max-width: 100%;
  width: 500px;
}

table td,
table th {
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 8px;
  text-align: left;
}

table th {
  background-color: rgba(0, 0, 0, 0);
}

/* Alternating row colors */
table tr:nth-child(even) {
  background-color: #ffffff;
  color: #00ff55;
}

/* Styling for the H1 Heading (Main Title) */
h1 {
  line-height: 2;
}
